@import '../styles/global.scss';
.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    background: linear-gradient(45deg, oklch(0.87 0 0), transparent);
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 1rem;
    font-size: 2rem;
    z-index: 9999;
}

.popup-panel {
    position: relative;
}

.popup-btn-close {
    $pos-btn: -3.2rem; 
    position: absolute;
    top: $pos-btn;
    right: $pos-btn + 1;
    margin: 0rem;
    padding: 0rem;
    background: transparent;
    color: darkred;
}

.popup-content {
    padding: 1rem 0.5rem;
}