
.button-container-game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}
.btn-game {
  margin: 1rem 0rem;
}

.btn-reset-game ,
.btn-restart-game {
    &:active {
        background-color: darkgray;
        box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(2px);
        transition: all 0.2s ease-in-out;
      }
    }

