@import './App.css';


.container-fon-image {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
    background-image: url("./assets/jpg/game-go/fon-game-go2.jpg");
    background-size: cover;
    z-index: -1;
}
.glass {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  height: 100vh;
}
  
